$color-text-light:#eee;
$color-bgcolor-light:#ddd;
$color-text-hover:rgb(84, 168, 168);
$color-primary-dark:rgb(84, 168, 168);
$color-text-dark:rgb(25, 26, 26);


$fontsize-sm:1.2rem;
$fontsize-middle:1.8rem;
$fontsize-ext:2rem;
$fontsize-lag:2.8rem